* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.image-grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height: auto; /* Allow height to adjust naturally */
}

.image-grid-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.image-container {
  position: relative;
  margin-top: 8px;
}

.image-container img {
  vertical-align: middle;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  transition: transform 0.3s;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-text {
  font-size: 20px;
  text-align: center;
}

.image-grid-fixed-text {
  position: fixed;
  top: -100px; /* Start above the viewport */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 50px;
  z-index: 1000;
  border-radius: 5px;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: top 1s ease, opacity 1s ease;
}

.image-grid-fixed-text.image-grid-show {
  top: 20%; /* Move to 20% of the viewport height after the transition */
  opacity: 1; /* Make it visible */
}

@media screen and (max-width: 800px) {
  .image-grid-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .image-grid-column {
    flex: 100%;
    max-width: 100%;
  }

  .image-grid-fixed-text {
    font-size: 20px;
  }

  .image-text {
    font-size: 16px;
  }
}