.user-email-updating-profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .user-email-updating-profile-input-container {
    margin-bottom: 20px;
  }
  
  .user-email-updating-profile-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .user-email-updating-profile-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .user-email-updating-profile-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .user-email-updating-profile-send-otp {
    background-color: #007BFF;
    color: white;
  }
  
  .user-email-updating-profile-update-email {
    background-color: #28A745;
    color: white;
  }
  
  .user-email-updating-profile-otp-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-email-updating-profile-message {
    margin-top: 10px;
  }
  
  .user-email-updating-profile-message.success {
    color: green;
    border-left: none;
    background-color: transparent;
  }
  
  .user-email-updating-profile-message.error {
    border-left: none;
    background-color: transparent;
    color: red;
  }
  
  .user-email-updating-profile-error {
    color: red;
  }
  