.user-password-updating-profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.user-password-updating-profile-input-container {
  margin-bottom: 20px;
}

.user-password-updating-profile-label {
  display: block;
  margin-bottom: 5px;
}

.user-password-updating-profile-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-password-updating-profile-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-password-updating-profile-send-otp {
  background-color: #007BFF;
  color: white;
}

.user-password-updating-profile-update-password {
  background-color: #28A745;
  color: white;
}

.user-password-updating-profile-otp-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-password-updating-profile-message {
  margin-top: 10px;
}

.user-password-updating-profile-message.success {
  color: green;
}

.user-password-updating-profile-message.error {
  color: red;
}
